services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://sienna:secret-library12345@db:5432/library
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      
      - POSTGRES_USER=sienna
      - POSTGRES_PASSWORD=secret-library12345
      - POSTGRES_DB=library
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: